<div class="profile">
    <img src="profile.jpg" alt="Profile Picture" class="profile-image" />
    <h2>Jan Mesarc</h2>
    <p>Czech Republic <a href="mailto:jame_581@windowslive.com">jame_581@windowslive.com</a></p>
</div>
