<footer>
    <div class="bg-black/60 text-white/40 flex flex-col gap-4 px-8 py-16 text-xs">
        <div class="flex flex-grow items-center justify-center">
            <Social/>
        </div>
        <div class="mx-auto flex w-full max-w-6xl items-center justify-center">
            @Copyright
        </div>
    </div>
</footer>

@code {
    string Copyright => GetCopyright();

    string GetCopyright()
    {
        return new CopyrightBuilder(Options?.Registered)
            .WithName(Options?.Name)
            .WithNumber(Options?.Number)
            .Build();
    }

    [Inject]
    public CompanyOptions? Options { get; set; }

    class CopyrightBuilder
    {
        private string? _name;
        private string? _number;
        private string? _year;

        public CopyrightBuilder(int? year)
        {
            if (year < DateTime.MinValue.Year || !year.HasValue)
            {
                _year = $"{DateTime.UtcNow.Year}";
            }

            _year = year < DateTime.UtcNow.Year ? $"{year} - {DateTime.UtcNow.Year}" : $"{year}";
        }

        public CopyrightBuilder WithName(string? name)
        {
            _name = !string.IsNullOrWhiteSpace(name) ? name : null;
            return this;
        }

        public CopyrightBuilder WithNumber(string? number)
        {
            _number = !string.IsNullOrWhiteSpace(number) ? number : null;
            return this;
        }

        public string Build()
        {
            return this switch
            {
                {_name: not null, _number: not null} => $"Copyright © {_year} - {_name} ({_number}). All rights reserved.",
                {_name: not null} => $"Copyright © {_year} - {_name}. All rights reserved.",
                _ => $"Copyright © {_year}. All rights reserved."
            };
        }
    }

}