<div class="group flex flex-wrap justify-center text-white">
    <NavLink href="@("https://github.com/dev-hancock")" class="text-white/80 group-hover:text-white/60 mx-1" target="_blank">
        <div class="p-1 transition-colors hover:!text-white">
            <i class="fab fa-github" aria-hidden="true"></i>
            <span>GitHub</span>
        </div>
    </NavLink>
    <NavLink href="@("https://medium.com/@dev-hancock")" class="text-white/80 group-hover:text-white/60 mx-1" target="_blank">
        <div class="p-1 transition-colors hover:!text-white">
            <i class="fab fa-medium" aria-hidden="true"></i>
            <span>Medium</span>
        </div>
    </NavLink>
    <NavLink href="@("https://linkedin.com/in/dev-hancock")" class="text-white/80 group-hover:text-white/60 mx-1" target="_blank">
        <div class="p-1 transition-colors hover:!text-white">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
            <span>LinkedIn</span>
        </div>
    </NavLink>
</div>