<NavLink href="/" @onclick="OnNavigated">

    <!-- Mobile -->
    <div class="block lg:hidden">
        <img src="/svg/brand-center.svg" width="100%" height="100%"/>
    </div>

    <!-- Desktop -->
    <div class="hidden lg:block">
        <img src="/svg/brand-left.svg" width="100%" height="100%"/>

    </div>

</NavLink>

@code {

    [Parameter]
    public bool IsToggled { get; set; }

    [Parameter]
    public EventCallback<bool> IsToggledChanged { get; set; }

    async Task OnNavigated()
    {
        await IsToggledChanged.InvokeAsync(false);
    }

}